/*
    * font-family
    ? font-family: 'Noto Sans JP', sans-serif;
    ? font-family: baron;
    ? font-family: A1MinchoStdBold;
*/
/*  
    ?----- footer
*/
.footer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* footer footer-entry */
  /* footer footer-enpage */
}
.footer .container {
  width: 100%;
}
.footer__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
}
.footer__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(14, 26, 105, 0.4);
}
.footer__img img {
  min-width: 100%;
  height: 100%;
}
.footer-inner {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .footer-inner {
    padding: 0 2rem;
  }
}
.footer-entry {
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: calc((100vw / 1600) * 100);
  padding-bottom: calc((100vw / 1600) * 100);
}
@media only screen and (max-width: 767px) {
  .footer-entry {
    flex-direction: column;
  }
}
.footer-entry h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: bold;
  font-family: A1MinchoStdBold;
  margin-right: auto;
  min-width: 40%;
}
@media only screen and (max-width: 767px) {
  .footer-entry h3 {
    font-size: 3rem;
  }
}
.footer-entry h3 span:nth-of-type(2) {
  font-size: 2rem;
}
@media only screen and (max-width: 767px) {
  .footer-entry h3 span:nth-of-type(2) {
    font-size: 2.4rem;
  }
}
.footer-entry h3 .h3-caption,
.footer-entry h3 .h3-entry {
  font-family: "baron";
  color: #fff;
  font-weight: normal;
  display: block;
}
.footer-entry h3 .h3-entry {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.footer-entry h3 .h3-caption {
  font-size: 1.6rem;
  letter-spacing: 0.85rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 767px) {
  .footer-entry h3 .h3-caption {
    letter-spacing: 0.1rem;
  }
}
.footer-entry .footer-button {
  outline: none !important;
  border: 0.2rem solid #fff;
  width: 100%;
  max-width: 31.2rem;
  height: 7rem;
  background-color: transparent;
  color: #fff;
  font-size: 2rem;
  font-family: baron;
  transition: all 0.3s ease;
}
.footer-entry .footer-button:hover {
  background-color: #00a1ec;
}
@media only screen and (max-width: 767px) {
  .footer-entry .footer-button {
    margin-top: 3rem;
  }
}
.footer-entry .footer-button span {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  margin-right: 0.5rem;
}
.footer-end-page {
  width: 100%;
  background-color: #0c2342;
}
@media screen and (max-width: 1024px) {
  .footer-end-page {
    padding: 0 2rem;
  }
}
.footer-end-page ul {
  width: 100%;
  display: inline-flex;
  align-items: center;
  height: 6.5rem;
}
@media only screen and (max-width: 767px) {
  .footer-end-page ul {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }
}
.footer-end-page ul li {
  font-size: 1.6rem;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .footer-end-page ul li {
    margin-top: 3rem;
    font-size: 1.4rem;
  }
}
.footer-end-page ul li:hover {
  opacity: 0.8;
}
.footer-end-page ul li:last-child {
  margin-left: auto;
}
@media only screen and (max-width: 767px) {
  .footer-end-page ul li:last-child {
    margin-left: 0;
    padding-bottom: 2rem;
  }
}

/*# sourceMappingURL=footer.css.map */
