@charset "UTF-8";
@import 'functions_responsive.scss';
@import 'functions.scss';
@import 'assets/colors.scss';

*{
    box-sizing: border-box;
}

body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", "ＭＳ ゴシック", sans-serif;
    @media screen and (max-width: 768px) {
        font-size: 1.4rem;
    }
    @media screen and (max-width: 768px) {
        padding: 0;
    }
}

html {
  scroll-behavior: smooth;
}

body>main {
    -ms-overflow-x: hidden;
}

@supports (-ms-ime-align: auto) {
    body>main {
        overflow: hidden;
    }
}

/*
    * font-family
    ? font-family: 'Noto Sans JP', sans-serif;
    ? font-family: baron;
    ? font-family: 'A1MinchoStdBold', serif;
*/

/*  
    ?------- another css
*/
.pad-r-3{
    padding-right: 3rem;
}
.mar-l-5{
    margin-left: 5rem;
    @media only screen and (max-width: 767px){
        margin-left: 0;
    }
}

.mar-l-2{
    margin-left: 2rem;

    @media only screen and (max-width: 767px){
        margin-left: 0;
    }
}
.d-none{
    display: none;
}
/*
    ?------- entry button
*/
.entry{
    width: 10%;
    min-width: 20rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    outline: none !important;
    font-size: 3rem;
    font-family: baron;
    color: #fff;
    transition: all .3s ease;

    &:hover{
        opacity: .8;
    }

    @include ipadpro{
        min-width: 100%;
        max-height:  10rem;
        min-height:  10rem;
        margin-top: 3rem;
    }

    &.first-child{
        background-color: $c-main-color;
        border: .1rem solid $c-main-color;
    }
    
    &.even-child{
        background-color: $c-blue2;
        border: .1rem solid $c-blue2;
    }

    span{
        font-family: 'Noto Sans JP', sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
    }
}


/* 
    ?------- hambuger-button
*/
.hambuger-button{
    width: 4.6rem;
    height: 2.9rem;
    position: relative;
    border: 0;
    outline: none !important;
    background-color: transparent;
    span{
        width: 4.6rem;
        height: .2rem;
        background-color: $c-blue3;
        position: absolute;
        left: 0;
        transition: all .3s ease;

        &:nth-of-type(1){
            top: 0;
        }
        &:nth-of-type(2){
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-of-type(3){
            bottom: 0;
        }
    }
        
    &.active{
        span:nth-of-type(1){
            transform: translateY(1.35rem) rotate(45deg);
        }
        span:nth-of-type(2){
            opacity: 0;
        }
        span:nth-of-type(3){
            transform: translateY(-1.35rem) rotate(135deg);
        }
    }
}


/*  
    ? all link
*/
.nav-link{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}


/*  
    ?------- two triangle
*/
.obj-decoration__triangle {

    &::after,
    &::before{
        content: '';
        width: 18.5625vw;
        height: 36.875vw;
        position: absolute;
        right: 0;
    }

    &::before {
        top: 0;
        border-top: 0;
        border-right: 18.5625vw solid transparent;
        border-bottom: 36.875vw solid transparent;
        border-left: 0;
    }

    &::after {
       
        border-bottom: 0;
        border-right: 18.5625vw solid transparent;
        border-top: 36.875vw solid transparent;
        border-left: 0;
    }
}


/*  
    ?------- class="f-comma"
*/
.f-comma{
    display: inline-block;
    max-width: 1.2rem;
}


/*  
    ?------- view more button
*/
.view-infor-button{
    width: 100%;
    max-width: 25.4rem;
    min-height: 5.8rem;
    outline: none !important;
    border: 0;
    background: linear-gradient(90deg, rgba(241,206,56,1) 0%, rgba(152,190,88,1) 100%);
    color: #fff;
    font-size: 1.6rem;
    margin-top: 5rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;

    &:hover{
        opacity: .8;
    }

    @media only screen and (max-width: 767px){
        max-width: 100%;
    }
}


/*  
    ?------- heading
*/
.heading{
    font-size: 6rem;
    font-family: baron;
    color: $c-view-data;
    display: flex;
    flex-direction: column;
    @include mobile{
        font-size: 4rem;
    }
}

.sub-heading{
    font-size: 2rem;
    color: $c-view-data;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    margin-top: 2.5rem;
}


/*  
    ?------- text description
*/
.p-description{
    font-size: 1.6rem;
    margin-top: 2rem;
    color: #333;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    line-height: 3rem;
}


/*  
    ?------- to top button
*/
.to-top-button{
    position: fixed;
    width: 5rem;
    height: 5rem;
    background-color: #c01920;
    right: 5rem;
    bottom: 5rem;
    display: none;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    transition: all .3s ease;
    &.active{
        display: flex;
    }
    @include mobile{
        right: 3rem;
        bottom: 3rem;
    }
    span{
        width: 3rem;
        height: .2rem;
        background-color: #fff;
        &:nth-child(1){transform: translateX(.4rem) rotate(-45deg);}
        &:nth-child(2){transform: translateX(-.4rem) rotate(45deg);}
    }
    &:hover{opacity: .8;}
}
